
h1 {
	color: teal;
	text-align: center;
	}

h3{
	color:teal;
	font-style: italic;
	text-align: center;
}

table{
	position: center;
}

p{ 
	font-style: italic;
	text-align: center;
}



