
h1 {
	color: teal;
	text-align: center;
	}

h2{
	color: teal;
	text-align: center;
}
	
h3{
	color:teal;
	font-style: italic;
	text-align: center;
}

table{
	position: center;
	margin-right: auto;
	margin-left: auto;
}

p{ 
	font-style: italic;
	text-align: center;
}

a{
	text-align:center;
}